:root {
    --input_scale_x: 1;
    --input_scale_y: 0.8;
}

html * {
    font-family: monospace, monospaSFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body {
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none !important;
    opacity: 0;
}

.light {
    font-size: 0.9em;
    opacity: 0.5;
}
.green {
    color: #8cd47e;
}
.red {
    color: #ff6961;
}
.yellow {
    color: #ca1;
}
.clickable {
    cursor: pointer;
    transition: 250ms all;
}
.clickable:hover {
    opacity: 0.8;
}
.disclaimer {
    font-weight: 600;
}

#main {
    padding: 8px 16px;
}

.footer {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    color: #999;
    height: 20px;
}

.settings_group {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8px 4px;
}
.settings_group > .label {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: calc(34px * var(--input_scale_y));
    padding-right: 16px;
}
.settings_group > .value {
    font-size: 1.2em;
    line-height: calc(34px * var(--input_scale_y));
}
.settings_group > input {
    border-radius: 0;
}
.settings_group > input[type="text"],
.settings_group > input[type="button"],
.settings_group > select {
    font-size: 0.9em;
    outline: none;
    border: 1px solid #999;
    width: calc(60px * var(--input_scale_x));
    height: calc(34px * var(--input_scale_y));
}
.settings_group > input[type="button"] {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 200ms all;
}
.settings_group > input[type="button"]:hover {
    background-color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: calc(60px * var(--input_scale_x));
    height: calc(34px * var(--input_scale_y));
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * var(--input_scale_y));
    width: calc(26px * var(--input_scale_x));
    left: calc(4px * var(--input_scale_x));
    bottom: calc(4px * var(--input_scale_y));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px * var(--input_scale_x)));
    -ms-transform: translateX(calc(26px * var(--input_scale_x)));
    transform: translateX(calc(26px * var(--input_scale_x)));
}
